<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
{% if title %}
<title>{{ title }}</title>
{% else %}
<title>Untitled :(</title>
{% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Statistics UI Kit Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--// bootstrap-css -->
<!-- css -->
<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all" />
<!--// css -->
<!-- font-awesome icons -->
<link href="/static/css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome icons -->
<!-- font -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- //font -->
<script src="/static/js/jquery-1.11.3.min.js"></script>
<script src="/static/js/bootstrap.js"></script>
<!-- circle -->
<script src="/static/js/circliful.js"></script>
 <script>
							$( document ).ready(function() { // 6,32 5,38 2,34
								$("#test-circle").circliful({
									animation: 1,
									animationStep: 5,
									foregroundBorderWidth: 15,
									backgroundBorderWidth: 15,
									percent: 71,
									textSize: 28,
									text: 'New Users',
									textStyle: 'font-size: 12px;',
									textColor: '#666'
								});
							});

						</script>
<!-- //circle -->
<!--chart js-->
<script src="/static/js/Chart.js"></script>
<!--//chart js-->
<script src="/static/js/easyResponsiveTabs.js" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function () {
		$('#horizontalTab').easyResponsiveTabs({
			type: 'default', //Types: default, vertical, accordion           
			width: 'auto', //auto or any width like 600px
			fit: true   // 100% fit in a container
		});
	});
</script>
<!--Calender -->
  <link rel="stylesheet" href="/static/css/clndr.css" type="text/css" />
  <script src="/static/js/underscore-min.js"></script>
  <script src="/static/js/moment-2.2.1.js"></script>
  <script src="/static/js/clndr.js"></script>
  <script src="/static/js/site.js"></script>
<!--End Calender-->
<!-- chart-grid-left -->
<link rel="stylesheet" href="/static/css/master.css">
<script src="/static/js/d3.min.js"></script>
<script src="/static/js/xcharts.min.js"></script>
<script src="/static/js/rainbow.min.js"></script>
<!-- //chart-grid-left -->
<!-- fabochart -->
<link href="/static/css/fabochart.css" rel="stylesheet" type="text/css">
<!-- //fabochart -->
<!--animate-->
<link href="/static/css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="/static/js/wow.min.js"></script>
<script>
     new WOW().init();
</script>
<!--//end-animate-->
<script>
$(document).ready(function() {
	// last one saved: 319
	// last checked skill: 319
	// until hero tap damage: 7.5mm
	var pos = 320;
	var heroes = [
{
name: 'Takeda',
level: 10,
coins: '1271.65595288471'
}
,
{
name: 'Takeda',
level: 25,
coins: '4413.40410289418'
}
,
{
name: 'Takeda',
level: 50,
coins: '31572.1746004918'
}
,
{
name: 'Takeda',
level: 100,
coins: '1319322.6824567'
}
,
{
name: 'Takeda',
level: 200,
coins: '1848152302.17302'
}
,
{
name: 'Takeda',
level: 400,
coins: '3.53723259894409E+15'
}
,
{
name: 'Takeda',
level: 800,
coins: '1.29359639223467E+28'
}
,
{
name: 'Takeda',
level: 1000,
coins: '3.11561344394267E+34'
}
,
{
name: 'Takeda',
level: 1010,
coins: '2.0794448181191E+35'
}
,
{
name: 'Takeda',
level: 1025,
coins: '7.80144080911383E+35'
}
,
{
name: 'Takeda',
level: 1050,
coins: '5.94532334495373E+36'
}
,
{
name: 'Takeda',
level: 1100,
coins: '2.55903041426479E+38'
}
,
{
name: 'Takeda',
level: 1200,
coins: '3.63121271106725E+41'
}
,
{
name: 'Takeda',
level: 1400,
coins: '6.95116980668107E+47'
}
,
{
name: 'Takeda',
level: 1800,
coins: '2.4652557569815E+60'
}
,
{
name: 'Takeda',
level: 2000,
coins: '4.70159787492712E+66'
}
,
{
name: 'Contessa',
level: 10,
coins: '4448.29583509649'
}
,
{
name: 'Contessa',
level: 25,
coins: '15456.9143601296'
}
,
{
name: 'Contessa',
level: 50,
coins: '110527.611101721'
}
,
{
name: 'Contessa',
level: 100,
coins: '4585934.38859846'
}
,
{
name: 'Contessa',
level: 200,
coins: '6464728057.60559'
}
,
{
name: 'Contessa',
level: 400,
coins: '1.23784790963043E+16'
}
,
{
name: 'Contessa',
level: 800,
coins: '4.52958737282133E+28'
}
,
{
name: 'Contessa',
level: 1000,
coins: '1.09066470537993E+35'
}
,
{
name: 'Contessa',
level: 1010,
coins: '7.27865686341684E+35'
}
,
{
name: 'Contessa',
level: 1025,
coins: '2.73050928318984E+36'
}
,
{
name: 'Contessa',
level: 1050,
coins: '2.0808651707338E+37'
}
,
{
name: 'Contessa',
level: 1100,
coins: '8.95675644992676E+38'
}
,
{
name: 'Contessa',
level: 1200,
coins: '1.27095444887354E+42'
}
,
{
name: 'Contessa',
level: 1400,
coins: '2.43291443233838E+48'
}
,
{
name: 'Contessa',
level: 1800,
coins: '8.62839514943524E+60'
}
,
{
name: 'Contessa',
level: 2000,
coins: '1.64555925622449E+67'
}
,
{
name: 'Hornetta',
level: 10,
coins: '17135.9389651215'
}
,
{
name: 'Hornetta',
level: 25,
coins: '59528.6202864991'
}
,
{
name: 'Hornetta',
level: 50,
coins: '425532.302741628'
}
,
{
name: 'Hornetta',
level: 100,
coins: '17647347.3961041'
}
,
{
name: 'Hornetta',
level: 200,
coins: '24899703021.7815'
}
,
{
name: 'Hornetta',
level: 400,
coins: '4.76571445207716E+16'
}
,
{
name: 'Hornetta',
level: 800,
coins: '1.74405613853621E+29'
}
,
{
name: 'Hornetta',
level: 1000,
coins: '4.19918911571275E+35'
}
,
{
name: 'Hornetta',
level: 1010,
coins: '2.80229139241548E+36'
}
,
{
name: 'Hornetta',
level: 1025,
coins: '1.05124527402809E+37'
}
,
{
name: 'Hornetta',
level: 1050,
coins: '8.01042955732515E+37'
}
,
{
name: 'Hornetta',
level: 1100,
coins: '3.4483797332218E+39'
}
,
{
name: 'Hornetta',
level: 1200,
coins: '4.89318512816312E+42'
}
,
{
name: 'Hornetta',
level: 1400,
coins: '9.36673206450274E+48'
}
,
{
name: 'Hornetta',
level: 1800,
coins: '3.32193468253257E+61'
}
,
{
name: 'Hornetta',
level: 2000,
coins: '6.3354031364643E+67'
}
,
{
name: 'Mila',
level: 10,
coins: '72539.7826008906'
}
,
{
name: 'Mila',
level: 25,
coins: '252016.734578221'
}
,
{
name: 'Mila',
level: 50,
coins: '1801517.94505643'
}
,
{
name: 'Mila',
level: 100,
coins: '74743742.1086837'
}
,
{
name: 'Mila',
level: 200,
coins: '105426808049.187'
}
,
{
name: 'Mila',
level: 400,
coins: '2.01792741484903E+17'
}
,
{
name: 'Mila',
level: 800,
coins: '7.38419034770988E+29'
}
,
{
name: 'Mila',
level: 1000,
coins: '1.77752218160099E+36'
}
,
{
name: 'Mila',
level: 1010,
coins: '1.18668267777675E+37'
}
,
{
name: 'Mila',
level: 1025,
coins: '4.45117194777375E+37'
}
,
{
name: 'Mila',
level: 1050,
coins: '3.39259549073136E+38'
}
,
{
name: 'Mila',
level: 1100,
coins: '1.46033070938683E+40'
}
,
{
name: 'Mila',
level: 1200,
coins: '2.0721821145739E+43'
}
,
{
name: 'Mila',
level: 1400,
coins: '3.96608922509946E+49'
}
,
{
name: 'Mila',
level: 1800,
coins: '1.4064361000936E+62'
}
,
{
name: 'Mila',
level: 2000,
coins: '2.68304205289316E+68'
}
,
{
name: 'Terra',
level: 10,
coins: '338320.483467333'
}
,
{
name: 'Terra',
level: 25,
coins: '1175185.49136985'
}
,
{
name: 'Terra',
level: 50,
coins: '8397058.44373083'
}
,
{
name: 'Terra',
level: 100,
coins: '348541013.533483'
}
,
{
name: 'Terra',
level: 200,
coins: '491599332378.025'
}
,
{
name: 'Terra',
level: 400,
coins: '9.40904411319127E+17'
}
,
{
name: 'Terra',
level: 800,
coins: '3.44296640334421E+30'
}
,
{
name: 'Terra',
level: 1000,
coins: '8.2827317608875E+36'
}
,
{
name: 'Terra',
level: 1010,
coins: '5.53173521619679E+37'
}
,
{
name: 'Terra',
level: 1025,
coins: '2.07511025522428E+38'
}
,
{
name: 'Terra',
level: 1050,
coins: '1.58145076975769E+39'
}
,
{
name: 'Terra',
level: 1100,
coins: '6.80661090194434E+40'
}
,
{
name: 'Terra',
level: 1200,
coins: '9.65844181143888E+43'
}
,
{
name: 'Terra',
level: 1400,
coins: '1.84898736857717E+50'
}
,
{
name: 'Terra',
level: 1800,
coins: '6.55754311357078E+62'
}
,
{
name: 'Terra',
level: 2000,
coins: '1.25062503473062E+69'
}
,
{
name: 'Inquisireaux',
level: 10,
coins: '1732345.40782898'
}
,
{
name: 'Inquisireaux',
level: 25,
coins: '6010816.38814188'
}
,
{
name: 'Inquisireaux',
level: 50,
coins: '43008321.8058699'
}
,
{
name: 'Inquisireaux',
level: 100,
coins: '1784660753.50603'
}
,
{
name: 'Inquisireaux',
level: 200,
coins: '2517174175559.66'
}
,
{
name: 'Inquisireaux',
level: 400,
coins: '4.81173957976184E+18'
}
,
{
name: 'Inquisireaux',
level: 800,
coins: '1.76197028622362E+31'
}
,
{
name: 'Inquisireaux',
level: 1000,
coins: '4.24410551064992E+37'
}
,
{
name: 'Inquisireaux',
level: 1010,
coins: '2.83239224227821E+38'
}
,
{
name: 'Inquisireaux',
level: 1025,
coins: '1.0625501382013E+39'
}
,
{
name: 'Inquisireaux',
level: 1050,
coins: '8.09753371582698E+39'
}
,
{
name: 'Inquisireaux',
level: 1100,
coins: '3.48546242422864E+41'
}
,
{
name: 'Inquisireaux',
level: 1200,
coins: '4.94580291247359E+44'
}
,
{
name: 'Inquisireaux',
level: 1400,
coins: '9.46747667669962E+50'
}
,
{
name: 'Inquisireaux',
level: 1800,
coins: '3.3576723010088E+63'
}
,
{
name: 'Inquisireaux',
level: 2000,
coins: '6.40357630565074E+69'
}
,
{
name: 'Charlotte',
level: 10,
coins: '9761117.71815457'
}
,
{
name: 'Charlotte',
level: 25,
coins: '33921343.5102273'
}
,
{
name: 'Charlotte',
level: 50,
coins: '242527100.931777'
}
,
{
name: 'Charlotte',
level: 100,
coins: '10057764601.2675'
}
,
{
name: 'Charlotte',
level: 200,
coins: '14191003280688.8'
}
,
{
name: 'Charlotte',
level: 400,
coins: '2.71602055598906E+19'
}
,
{
name: 'Charlotte',
level: 800,
coins: '9.93970029236224E+31'
}
,
{
name: 'Charlotte',
level: 1000,
coins: '2.39325112494797E+38'
}
,
{
name: 'Charlotte',
level: 1010,
coins: '1.59715122031547E+39'
}
,
{
name: 'Charlotte',
level: 1025,
coins: '5.99151254139942E+39'
}
,
{
name: 'Charlotte',
level: 1050,
coins: '4.56511680892446E+40'
}
,
{
name: 'Charlotte',
level: 1100,
coins: '1.96537735815536E+42'
}
,
{
name: 'Charlotte',
level: 1200,
coins: '2.78883816209965E+45'
}
,
{
name: 'Charlotte',
level: 1400,
coins: '5.33851601153106E+51'
}
,
{
name: 'Charlotte',
level: 1800,
coins: '1.89331586136179E+64'
}
,
{
name: 'Charlotte',
level: 2000,
coins: '3.61082716794403E+70'
}
,
{
name: 'Jordaan',
level: 10,
coins: '60556823.3573122'
}
,
{
name: 'Jordaan',
level: 25,
coins: '210296035.297763'
}
,
{
name: 'Jordaan',
level: 50,
coins: '1503181510.98341'
}
,
{
name: 'Jordaan',
level: 100,
coins: '62362707684.9391'
}
,
{
name: 'Jordaan',
level: 200,
coins: '87968301583436'
}
,
{
name: 'Jordaan',
level: 400,
coins: '1.68367315709738E+20'
}
,
{
name: 'Jordaan',
level: 800,
coins: '6.16107882703701E+32'
}
,
{
name: 'Jordaan',
level: 1000,
coins: '1.48337199931671E+39'
}
,
{
name: 'Jordaan',
level: 1010,
coins: '9.8990093342469E+39'
}
,
{
name: 'Jordaan',
level: 1025,
coins: '3.71260782513818E+40'
}
,
{
name: 'Jordaan',
level: 1050,
coins: '2.82991927219797E+41'
}
,
{
name: 'Jordaan',
level: 1100,
coins: '1.21812947719004E+43'
}
,
{
name: 'Jordaan',
level: 1200,
coins: '1.72850185046801E+46'
}
,
{
name: 'Jordaan',
level: 1400,
coins: '3.30823002798019E+52'
}
,
{
name: 'Jordaan',
level: 1800,
coins: '1.17346142032319E+65'
}
,
{
name: 'Jordaan',
level: 2000,
coins: '2.23796058846531E+71'
}
,
{
name: 'Jukka',
level: 10,
coins: '605428233.573122'
}
,
{
name: 'Jukka',
level: 25,
coins: '2102960352.97763'
}
,
{
name: 'Jukka',
level: 50,
coins: '15026315109.8341'
}
,
{
name: 'Jukka',
level: 100,
coins: '623707076849.391'
}
,
{
name: 'Jukka',
level: 200,
coins: '879713015834360'
}
,
{
name: 'Jukka',
level: 400,
coins: '1.68372315709738E+21'
}
,
{
name: 'Jukka',
level: 800,
coins: '6.15767882703701E+33'
}
,
{
name: 'Jukka',
level: 1000,
coins: '1.48275199931671E+40'
}
,
{
name: 'Jukka',
level: 1010,
coins: '9.89878933424689E+40'
}
,
{
name: 'Jukka',
level: 1025,
coins: '3.71340782513818E+41'
}
,
{
name: 'Jukka',
level: 1050,
coins: '2.82996927219797E+42'
}
,
{
name: 'Jukka',
level: 1100,
coins: '1.21807247719004E+44'
}
,
{
name: 'Jukka',
level: 1200,
coins: '1.72849485046801E+47'
}
,
{
name: 'Jukka',
level: 1400,
coins: '3.30873002798019E+53'
}
,
{
name: 'Jukka',
level: 1800,
coins: '1.17345982032319E+66'
}
,
{
name: 'Jukka',
level: 2000,
coins: '2.23796058846531E+72'
}
,
{
name: 'Milo',
level: 10,
coins: '3634036025.25027'
}
,
{
name: 'Milo',
level: 25,
coins: '12635135734.2774'
}
,
{
name: 'Milo',
level: 50,
coins: '90317019357.4066'
}
,
{
name: 'Milo',
level: 100,
coins: '3747520671826.17'
}
,
{
name: 'Milo',
level: 200,
coins: '5.27797778421485E+15'
}
,
{
name: 'Milo',
level: 400,
coins: '1.01101286329801E+22'
}
,
{
name: 'Milo',
level: 800,
coins: '3.70144568179115E+34'
}
,
{
name: 'Milo',
level: 1000,
coins: '8.91185444967604E+40'
}
,
{
name: 'Milo',
level: 1010,
coins: '5.94766417982061E+41'
}
,
{
name: 'Milo',
level: 1025,
coins: '2.13120907140655E+42'
}
,
{
name: 'Milo',
level: 1050,
coins: '1.70036443665677E+43'
}
,
{
name: 'Milo',
level: 1100,
coins: '7.31901698479729E+44'
}
,
{
name: 'Milo',
level: 1200,
coins: '1.03855043536523E+48'
}
,
{
name: 'Milo',
level: 1400,
coins: '1.98803476471079E+54'
}
,
{
name: 'Milo',
level: 1800,
coins: '7.05063026496708E+66'
}
,
{
name: 'Milo',
level: 2000,
coins: '1.34465699222916E+73'
}
,
{
name: 'Macelord',
level: 10,
coins: '23980531271.4056'
}
,
{
name: 'Macelord',
level: 25,
coins: '83319601380.5843'
}
,
{
name: 'Macelord',
level: 50,
coins: '595591812965.276'
}
,
{
name: 'Macelord',
level: 100,
coins: '24711463591133.4'
}
,
{
name: 'Macelord',
level: 200,
coins: '3.48467346189832E+16'
}
,
{
name: 'Macelord',
level: 400,
coins: '6.67088902160855E+22'
}
,
{
name: 'Macelord',
level: 800,
coins: '2.44109879575458E+35'
}
,
{
name: 'Macelord',
level: 1000,
coins: '5.87736695527587E+41'
}
,
{
name: 'Macelord',
level: 1010,
coins: '3.92216812697261E+42'
}
,
{
name: 'Macelord',
level: 1025,
coins: '1.47135343659887E+43'
}
,
{
name: 'Macelord',
level: 1050,
coins: '1.12127477885827E+44'
}
,
{
name: 'Macelord',
level: 1100,
coins: '4.82645036130339E+45'
}
,
{
name: 'Macelord',
level: 1200,
coins: '6.84864077307283E+48'
}
,
{
name: 'Macelord',
level: 1400,
coins: '1.31099464554005E+55'
}
,
{
name: 'Macelord',
level: 1800,
coins: '4.6494712376671E+67'
}
,
{
name: 'Macelord',
level: 2000,
coins: '8.86721359211256E+73'
}
,
{
name: 'Gertrude',
level: 10,
coins: '173990534354.628'
}
,
{
name: 'Gertrude',
level: 25,
coins: '604377681275.924'
}
,
{
name: 'Gertrude',
level: 50,
coins: '4318201485347.28'
}
,
{
name: 'Gertrude',
level: 100,
coins: '179250806960077'
}
,
{
name: 'Gertrude',
level: 200,
coins: '2.5282537093727E+17'
}
,
{
name: 'Gertrude',
level: 400,
coins: '4.83887411535551E+23'
}
,
{
name: 'Gertrude',
level: 800,
coins: '1.77066786457702E+36'
}
,
{
name: 'Gertrude',
level: 1000,
coins: '4.26111919131357E+42'
}
,
{
name: 'Gertrude',
level: 1010,
coins: '2.84437811118692E+43'
}
,
{
name: 'Gertrude',
level: 1025,
coins: '1.06721670268677E+44'
}
,
{
name: 'Gertrude',
level: 1050,
coins: '8.1331268158967E+44'
}
,
{
name: 'Gertrude',
level: 1100,
coins: '3.50068560671423E+46'
}
,
{
name: 'Gertrude',
level: 1200,
coins: '4.96705578874E+49'
}
,
{
name: 'Gertrude',
level: 1400,
coins: '9.50867789553971E+55'
}
,
{
name: 'Gertrude',
level: 1800,
coins: '3.37241931555069E+68'
}
,
{
name: 'Gertrude',
level: 2000,
coins: '6.4317858929003E+74'
}
,
{
name: 'Twitterella',
level: 10,
coins: '1391471612455.87'
}
,
{
name: 'Twitterella',
level: 25,
coins: '4825384088566.23'
}
,
{
name: 'Twitterella',
level: 50,
coins: '34546699012938.1'
}
,
{
name: 'Twitterella',
level: 100,
coins: '1.43349063460763E+15'
}
,
{
name: 'Twitterella',
level: 200,
coins: '2.02187499857729E+18'
}
,
{
name: 'Twitterella',
level: 400,
coins: '3.86893032324483E+24'
}
,
{
name: 'Twitterella',
level: 800,
coins: '1.41579845310473E+37'
}
,
{
name: 'Twitterella',
level: 1000,
coins: '3.40916110767328E+43'
}
,
{
name: 'Twitterella',
level: 1010,
coins: '2.27502343102229E+44'
}
,
{
name: 'Twitterella',
level: 1025,
coins: '8.53476924517053E+44'
}
,
{
name: 'Twitterella',
level: 1050,
coins: '6.50418857937938E+45'
}
,
{
name: 'Twitterella',
level: 1100,
coins: '2.79956027320568E+47'
}
,
{
name: 'Twitterella',
level: 1200,
coins: '3.97264110590757E+50'
}
,
{
name: 'Twitterella',
level: 1400,
coins: '7.3704555685091E+56'
}
,
{
name: 'Twitterella',
level: 1800,
coins: '2.69699231813776E+69'
}
,
{
name: 'Twitterella',
level: 2000,
coins: '5.14354807517027E+75'
}
,
{
name: 'Master Hawk',
level: 10,
coins: '20859157627309.2'
}
,
{
name: 'Master Hawk',
level: 25,
coins: '72451827287464.6'
}
,
{
name: 'Master Hawk',
level: 50,
coins: '517897663448066'
}
,
{
name: 'Master Hawk',
level: 100,
coins: '2.14886639922899E+16'
}
,
{
name: 'Master Hawk',
level: 200,
coins: '3.03067257556376E+19'
}
,
{
name: 'Master Hawk',
level: 400,
coins: '5.8007730622683E+25'
}
,
{
name: 'Master Hawk',
level: 800,
coins: '2.12263808326485E+38'
}
,
{
name: 'Master Hawk',
level: 1000,
coins: '5.11070604806598E+44'
}
,
{
name: 'Master Hawk',
level: 1010,
coins: '3.41057750171532E+45'
}
,
{
name: 'Master Hawk',
level: 1025,
coins: '1.27943829269467E+46'
}
,
{
name: 'Master Hawk',
level: 1050,
coins: '9.74978068572411E+46'
}
,
{
name: 'Master Hawk',
level: 1100,
coins: '4.19691987939425E+48'
}
,
{
name: 'Master Hawk',
level: 1200,
coins: '5.95534284615029E+51'
}
,
{
name: 'Master Hawk',
level: 1400,
coins: '1.1048916482957E+58'
}
,
{
name: 'Master Hawk',
level: 1800,
coins: '4.04301864144965E+70'
}
,
{
name: 'Master Hawk',
level: 2000,
coins: '7.71062051488048E+76'
}
,
{
name: 'Elpha',
level: 10,
coins: '208591576273092'
}
,
{
name: 'Elpha',
level: 25,
coins: '724548272874646'
}
,
{
name: 'Elpha',
level: 50,
coins: '5.17427663448066E+15'
}
,
{
name: 'Elpha',
level: 100,
coins: '2.14886639922899E+17'
}
,
{
name: 'Elpha',
level: 200,
coins: '3.03087257556376E+20'
}
,
{
name: 'Elpha',
level: 400,
coins: '5.8010730622683E+26'
}
,
{
name: 'Elpha',
level: 800,
coins: '2.12272808326485E+39'
}
,
{
name: 'Elpha',
level: 1000,
coins: '5.11040604806598E+45'
}
,
{
name: 'Elpha',
level: 1010,
coins: '3.41013750171532E+46'
}
,
{
name: 'Elpha',
level: 1025,
coins: '1.27939429269467E+47'
}
,
{
name: 'Elpha',
level: 1050,
coins: '9.75028068572411E+47'
}
,
{
name: 'Elpha',
level: 1100,
coins: '4.19666987939425E+49'
}
,
{
name: 'Elpha',
level: 1200,
coins: '5.95445284615029E+52'
}
,
{
name: 'Elpha',
level: 1400,
coins: '1.1048918482957E+59'
}
,
{
name: 'Elpha',
level: 1800,
coins: '4.04305064144965E+71'
}
,
{
name: 'Elpha',
level: 2000,
coins: '7.71062051488048E+77'
}
,
{
name: 'Poppy',
level: 10,
coins: '4.17183152546185E+15'
}
,
{
name: 'Poppy',
level: 25,
coins: '1.44903654574929E+16'
}
,
{
name: 'Poppy',
level: 50,
coins: '1.03575532689613E+17'
}
,
{
name: 'Poppy',
level: 100,
coins: '4.29373279845799E+18'
}
,
{
name: 'Poppy',
level: 200,
coins: '6.05334515112752E+21'
}
,
{
name: 'Poppy',
level: 400,
coins: '1.16015461245366E+28'
}
,
{
name: 'Poppy',
level: 800,
coins: '4.24547616652971E+40'
}
,
{
name: 'Poppy',
level: 1000,
coins: '1.0220812096132E+47'
}
,
{
name: 'Poppy',
level: 1010,
coins: '6.82107500343063E+47'
}
,
{
name: 'Poppy',
level: 1025,
coins: '2.55886858538934E+48'
}
,
{
name: 'Poppy',
level: 1050,
coins: '1.95006813714482E+49'
}
,
{
name: 'Poppy',
level: 1100,
coins: '8.3938397587885E+50'
}
,
{
name: 'Poppy',
level: 1200,
coins: '1.19106056923006E+54'
}
,
{
name: 'Poppy',
level: 1400,
coins: '2.20978329659139E+60'
}
,
{
name: 'Poppy',
level: 1800,
coins: '8.08604128289931E+72'
}
,
{
name: 'Poppy',
level: 2000,
coins: '1.5421241029761E+79'
}
,
{
name: 'Skulptor',
level: 10,
coins: '4.17183152546185E+16'
}
,
{
name: 'Skulptor',
level: 25,
coins: '1.44903654574929E+17'
}
,
{
name: 'Skulptor',
level: 50,
coins: '1.03580532689613E+18'
}
,
{
name: 'Skulptor',
level: 100,
coins: '4.29773279845799E+19'
}
,
{
name: 'Skulptor',
level: 200,
coins: '6.06134515112752E+22'
}
,
{
name: 'Skulptor',
level: 400,
coins: '1.16015461245366E+29'
}
,
{
name: 'Skulptor',
level: 800,
coins: '4.24547616652971E+41'
}
,
{
name: 'Skulptor',
level: 1000,
coins: '1.0221512096132E+48'
}
,
{
name: 'Skulptor',
level: 1010,
coins: '6.82116500343064E+48'
}
,
{
name: 'Skulptor',
level: 1025,
coins: '2.55878858538934E+49'
}
,
{
name: 'Skulptor',
level: 1050,
coins: '1.95005613714482E+50'
}
,
{
name: 'Skulptor',
level: 1100,
coins: '8.3938397587885E+51'
}
,
{
name: 'Skulptor',
level: 1200,
coins: '1.19106856923006E+55'
}
,
{
name: 'Skulptor',
level: 1400,
coins: '2.20978329659139E+61'
}
,
{
name: 'Skulptor',
level: 1800,
coins: '8.08603628289931E+73'
}
,
{
name: 'Skulptor',
level: 2000,
coins: '1.5421241029761E+80'
}
,
{
name: 'Sterling',
level: 10,
coins: '1.25155945763855E+18'
}
,
{
name: 'Sterling',
level: 25,
coins: '4.34710963724787E+18'
}
,
{
name: 'Sterling',
level: 50,
coins: '3.1065659806884E+19'
}
,
{
name: 'Sterling',
level: 100,
coins: '1.2893498395374E+21'
}
,
{
name: 'Sterling',
level: 200,
coins: '1.81857354533826E+24'
}
,
{
name: 'Sterling',
level: 400,
coins: '3.48063383736098E+30'
}
,
{
name: 'Sterling',
level: 800,
coins: '1.27324284995891E+43'
}
,
{
name: 'Sterling',
level: 1000,
coins: '3.06624362883959E+49'
}
,
{
name: 'Sterling',
level: 1010,
coins: '2.04628250102919E+50'
}
,
{
name: 'Sterling',
level: 1025,
coins: '7.67656575616801E+50'
}
,
{
name: 'Sterling',
level: 1050,
coins: '5.85019841143447E+51'
}
,
{
name: 'Sterling',
level: 1100,
coins: '2.51810192763655E+53'
}
,
{
name: 'Sterling',
level: 1200,
coins: '3.45301940769017E+56'
}
,
{
name: 'Sterling',
level: 1400,
coins: '6.61006488977418E+62'
}
,
{
name: 'Sterling',
level: 1800,
coins: '2.41875373486979E+75'
}
,
{
name: 'Sterling',
level: 2000,
coins: '4.62637230892829E+81'
}
,
{
name: 'Orba',
level: 10,
coins: '6.25774728819277E+19'
}
,
{
name: 'Orba',
level: 25,
coins: '2.17355481862394E+20'
}
,
{
name: 'Orba',
level: 50,
coins: '1.5537129903442E+21'
}
,
{
name: 'Orba',
level: 100,
coins: '6.44659919768698E+22'
}
,
{
name: 'Orba',
level: 200,
coins: '9.09201772669128E+25'
}
,
{
name: 'Orba',
level: 400,
coins: '1.74023191868049E+32'
}
,
{
name: 'Orba',
level: 800,
coins: '6.36811424979456E+44'
}
,
{
name: 'Orba',
level: 1000,
coins: '1.53323181441979E+51'
}
,
{
name: 'Orba',
level: 1010,
coins: '1.0231752505146E+52'
}
,
{
name: 'Orba',
level: 1025,
coins: '3.838182878084E+52'
}
,
{
name: 'Orba',
level: 1050,
coins: '2.92503420571723E+53'
}
,
{
name: 'Orba',
level: 1100,
coins: '1.25907596381828E+55'
}
,
{
name: 'Orba',
level: 1200,
coins: '1.73155085384509E+58'
}
,
{
name: 'Orba',
level: 1400,
coins: '3.31467594488709E+64'
}
,
{
name: 'Orba',
level: 1800,
coins: '1.2129054924349E+77'
}
,
{
name: 'Orba',
level: 2000,
coins: '2.31318615446415E+83'
}
,
{
name: 'Remus',
level: 10,
coins: '1.87734418645783E+21'
}
,
{
name: 'Remus',
level: 25,
coins: '6.52066445587181E+21'
}
,
{
name: 'Remus',
level: 50,
coins: '4.6608489710326E+22'
}
,
{
name: 'Remus',
level: 100,
coins: '1.93402975930609E+24'
}
,
{
name: 'Remus',
level: 200,
coins: '2.72786531800738E+27'
}
,
{
name: 'Remus',
level: 400,
coins: '5.22069575604147E+33'
}
,
{
name: 'Remus',
level: 800,
coins: '1.91036427493837E+46'
}
,
{
name: 'Remus',
level: 1000,
coins: '4.59936544325938E+52'
}
,
{
name: 'Remus',
level: 1010,
coins: '3.06952375154379E+53'
}
,
{
name: 'Remus',
level: 1025,
coins: '1.1514848634252E+54'
}
,
{
name: 'Remus',
level: 1050,
coins: '8.7753026171517E+54'
}
,
{
name: 'Remus',
level: 1100,
coins: '3.65780289145483E+56'
}
,
{
name: 'Remus',
level: 1200,
coins: '5.19460756153526E+59'
}
,
{
name: 'Remus',
level: 1400,
coins: '9.94399983466126E+65'
}
,
{
name: 'Remus',
level: 1800,
coins: '3.63871557730469E+78'
}
,
{
name: 'Remus',
level: 2000,
coins: '6.93955846339244E+84'
}
,
{
name: 'Mikey',
level: 10,
coins: '6.20648105007738E+22'
}
,
{
name: 'Mikey',
level: 25,
coins: '2.15588120221236E+23'
}
,
{
name: 'Mikey',
level: 50,
coins: '1.541080120504E+24'
}
,
{
name: 'Mikey',
level: 100,
coins: '6.39401709038871E+25'
}
,
{
name: 'Mikey',
level: 200,
coins: '9.01822083460436E+28'
}
,
{
name: 'Mikey',
level: 400,
coins: '1.72614222828471E+35'
}
,
{
name: 'Mikey',
level: 800,
coins: '6.31643039410517E+47'
}
,
{
name: 'Mikey',
level: 1000,
coins: '1.52076936064402E+54'
}
,
{
name: 'Mikey',
level: 1010,
coins: '1.01485667124212E+55'
}
,
{
name: 'Mikey',
level: 1025,
coins: '3.80653911484755E+55'
}
,
{
name: 'Mikey',
level: 1050,
coins: '2.79520547233742E+56'
}
,
{
name: 'Mikey',
level: 1100,
coins: '1.20935884216122E+58'
}
,
{
name: 'Mikey',
level: 1200,
coins: '1.71747260300082E+61'
}
,
{
name: 'Mikey',
level: 1400,
coins: '3.28772646566036E+67'
}
,
{
name: 'Mikey',
level: 1800,
coins: '1.20304444940697E+80'
}
,
{
name: 'Mikey',
level: 2000,
coins: '2.29437976296444E+86'
}
,
{
name: 'Peter',
level: 10,
coins: '6.20248105007739E+24'
}
,
{
name: 'Peter',
level: 25,
coins: '2.15498120221236E+25'
}
,
{
name: 'Peter',
level: 50,
coins: '1.561070120504E+26'
}
,
{
name: 'Peter',
level: 100,
coins: '6.38701709038871E+27'
}
,
{
name: 'Peter',
level: 200,
coins: '9.01522083460436E+30'
}
,
{
name: 'Peter',
level: 400,
coins: '1.72574222828471E+37'
}
,
{
name: 'Peter',
level: 800,
coins: '6.31583039410517E+49'
}
,
{
name: 'Peter',
level: 1000,
coins: '1.52067936064402E+56'
}
,
{
name: 'Peter',
level: 1010,
coins: '9.56020671242119E+56'
}
,
{
name: 'Peter',
level: 1025,
coins: '3.63302911484755E+57'
}
,
{
name: 'Peter',
level: 1050,
coins: '2.79516147233742E+58'
}
,
{
name: 'Peter',
level: 1100,
coins: '1.20935884216122E+60'
}
,
{
name: 'Peter',
level: 1200,
coins: '1.71747060300082E+63'
}
,
{
name: 'Peter',
level: 1400,
coins: '3.28772246566036E+69'
}
,
{
name: 'Peter',
level: 1800,
coins: '1.20304484940697E+82'
}
,
{
name: 'Peter',
level: 2000,
coins: '2.29437976296444E+88'
}
,
{
name: 'Teeny',
level: 10,
coins: '1.23884289810971E+27'
}
,
{
name: 'Teeny',
level: 25,
coins: '4.29817559621893E+27'
}
,
{
name: 'Teeny',
level: 50,
coins: '3.07528380608791E+28'
}
,
{
name: 'Teeny',
level: 100,
coins: '1.27625431271283E+30'
}
,
{
name: 'Teeny',
level: 200,
coins: '1.80009432231653E+33'
}
,
{
name: 'Teeny',
level: 400,
coins: '3.44526961137154E+39'
}
,
{
name: 'Teeny',
level: 800,
coins: '1.26064688603657E+52'
}
,
{
name: 'Teeny',
level: 1000,
coins: '2.36788749440016E+58'
}
,
{
name: 'Teeny',
level: 1010,
coins: '1.908106052848E+59'
}
,
{
name: 'Teeny',
level: 1025,
coins: '7.25115634807687E+59'
}
,
{
name: 'Teeny',
level: 1050,
coins: '5.57886657798493E+60'
}
,
{
name: 'Teeny',
level: 1100,
coins: '2.4137610234939E+62'
}
,
{
name: 'Teeny',
level: 1200,
coins: '3.4278835805795E+65'
}
,
{
name: 'Teeny',
level: 1400,
coins: '6.56193119170737E+71'
}
,
{
name: 'Teeny',
level: 1800,
coins: '2.40116202729998E+84'
}
,
{
name: 'Teeny',
level: 2000,
coins: '4.57935633017902E+90'
}
,
{
name: 'Deznis',
level: 10,
coins: '4.96045821625037E+29'
}
,
{
name: 'Deznis',
level: 25,
coins: '1.72300760012873E+30'
}
,
{
name: 'Deznis',
level: 50,
coins: '1.23100480941918E+31'
}
,
{
name: 'Deznis',
level: 100,
coins: '5.11025546158115E+32'
}
,
{
name: 'Deznis',
level: 200,
coins: '7.2077969784748E+35'
}
,
{
name: 'Deznis',
level: 400,
coins: '1.37951481358819E+42'
}
,
{
name: 'Deznis',
level: 800,
coins: '5.0424259297152E+54'
}
,
{
name: 'Deznis',
level: 1000,
coins: '9.47889243137641E+60'
}
,
{
name: 'Deznis',
level: 1010,
coins: '7.64035379066447E+61'
}
,
{
name: 'Deznis',
level: 1025,
coins: '2.90346691555439E+62'
}
,
{
name: 'Deznis',
level: 1050,
coins: '2.23384150453195E+63'
}
,
{
name: 'Deznis',
level: 1100,
coins: '9.66495661563267E+64'
}
,
{
name: 'Deznis',
level: 1200,
coins: '1.37257075731623E+68'
}
,
{
name: 'Deznis',
level: 1400,
coins: '2.62748672460562E+74'
}
,
{
name: 'Deznis',
level: 1800,
coins: '9.61445945222784E+86'
}
,
{
name: 'Deznis',
level: 2000,
coins: '1.83362317122158E+93'
}
,
{
name: 'Hamlette',
level: 10,
coins: '5.44378747834656E+32'
}
,
{
name: 'Hamlette',
level: 25,
coins: '1.89089695603871E+33'
}
,
{
name: 'Hamlette',
level: 50,
coins: '1.35067707290105E+34'
}
,
{
name: 'Hamlette',
level: 100,
coins: '5.60818548091469E+35'
}
,
{
name: 'Hamlette',
level: 200,
coins: '7.91006745330055E+38'
}
,
{
name: 'Hamlette',
level: 400,
coins: '1.51393687234807E+45'
}
,
{
name: 'Hamlette',
level: 800,
coins: '5.43707255876437E+57'
}
,
{
name: 'Hamlette',
level: 1000,
coins: '1.04064255400746E+64'
}
,
{
name: 'Hamlette',
level: 1010,
coins: '8.38479782154973E+64'
}
,
{
name: 'Hamlette',
level: 1025,
coins: '3.18638266630072E+65'
}
,
{
name: 'Hamlette',
level: 1050,
coins: '2.45149447164019E+66'
}
,
{
name: 'Hamlette',
level: 1100,
coins: '1.06066701730533E+68'
}
,
{
name: 'Hamlette',
level: 1200,
coins: '1.50630834033678E+71'
}
,
{
name: 'Hamlette',
level: 1400,
coins: '2.8834981772595E+77'
}
,
{
name: 'Hamlette',
level: 1800,
coins: '1.05513370398808E+90'
}
,
{
name: 'Hamlette',
level: 2000,
coins: '2.01228389046881E+96'
}
,
{
name: 'Eistor',
level: 10,
coins: '6.00341609761583E+37'
}
,
{
name: 'Eistor',
level: 25,
coins: '2.08528673656605E+38'
}
,
{
name: 'Eistor',
level: 50,
coins: '1.49055864114321E+39'
}
,
{
name: 'Eistor',
level: 100,
coins: '6.18468866119564E+40'
}
,
{
name: 'Eistor',
level: 200,
coins: '8.72303326625668E+43'
}
,
{
name: 'Eistor',
level: 400,
coins: '1.66948346670161E+50'
}
,
{
name: 'Eistor',
level: 800,
coins: '5.99909497134763E+62'
}
,
{
name: 'Eistor',
level: 1000,
coins: '1.14755954554094E+69'
}
,
{
name: 'Eistor',
level: 1010,
coins: '9.24678354152213E+69'
}
,
{
name: 'Eistor',
level: 1025,
coins: '3.51391306190173E+70'
}
,
{
name: 'Eistor',
level: 1050,
coins: '2.70351693881816E+71'
}
,
{
name: 'Eistor',
level: 1100,
coins: '1.16970735553298E+73'
}
,
{
name: 'Eistor',
level: 1200,
coins: '1.66116259962374E+76'
}
,
{
name: 'Eistor',
level: 1400,
coins: '3.17993254875347E+82'
}
,
{
name: 'Eistor',
level: 1800,
coins: '1.16360037729527E+95'
}
,
{
name: 'Eistor',
level: 2000,
coins: '2.2191541969656E+101'
}
,
{
name: 'Flavius',
level: 10,
coins: '6.5884778359428E+47'
}
,
{
name: 'Flavius',
level: 25,
coins: '2.28851332529919E+48'
}
,
{
name: 'Flavius',
level: 50,
coins: '1.63521664430548E+49'
}
,
{
name: 'Flavius',
level: 100,
coins: '6.78738289512573E+50'
}
,
{
name: 'Flavius',
level: 200,
coins: '9.57339752525627E+53'
}
,
{
name: 'Flavius',
level: 400,
coins: '1.79922490625304E+60'
}
,
{
name: 'Flavius',
level: 800,
coins: '6.58070931177557E+72'
}
,
{
name: 'Flavius',
level: 1000,
coins: '1.2598477639623E+79'
}
,
{
name: 'Flavius',
level: 1010,
coins: '1.01479561578569E+80'
}
,
{
name: 'Flavius',
level: 1025,
coins: '3.85636733912096E+80'
}
,
{
name: 'Flavius',
level: 1050,
coins: '2.96699097268603E+81'
}
,
{
name: 'Flavius',
level: 1100,
coins: '1.28370455458916E+83'
}
,
{
name: 'Flavius',
level: 1200,
coins: '1.82305548433283E+86'
}
,
{
name: 'Flavius',
level: 1400,
coins: '3.4898385598608E+92'
}
,
{
name: 'Flavius',
level: 1800,
coins: '1.27699892211642E+105'
}
,
{
name: 'Flavius',
level: 2000,
coins: '2.43542769921225E+111'
}
,
{
name: 'Chester',
level: 10,
coins: '7.04503893144285E+62'
}
,
{
name: 'Chester',
level: 25,
coins: '2.45762033864968E+63'
}
,
{
name: 'Chester',
level: 50,
coins: '1.76308395222803E+64'
}
,
{
name: 'Chester',
level: 100,
coins: '7.33135029000321E+65'
}
,
{
name: 'Chester',
level: 200,
coins: '1.03442571223862E+69'
}
,
{
name: 'Chester',
level: 400,
coins: '1.97984088139813E+75'
}
,
{
name: 'Chester',
level: 800,
coins: '7.2396994357376E+87'
}
,
{
name: 'Chester',
level: 1000,
coins: '1.38629966304732E+94'
}
,
{
name: 'Chester',
level: 1010,
coins: '1.11666704632788E+95'
}
,
{
name: 'Chester',
level: 1025,
coins: '4.24353626119488E+95'
}
,
{
name: 'Chester',
level: 1050,
coins: '3.26484450662362E+96'
}
,
{
name: 'Chester',
level: 1100,
coins: '1.41257063613093E+98'
}
,
{
name: 'Chester',
level: 1200,
coins: '2.00606484530833E+101'
}
,
{
name: 'Chester',
level: 1400,
coins: '3.84021578980821E+107'
}
,
{
name: 'Chester',
level: 1800,
coins: '1.40519638147945E+120'
}
,
{
name: 'Chester',
level: 2000,
coins: '2.67991078870846E+126'
}
,
{
name: 'Mohacas',
level: 10,
coins: '7.76179938411598E+82'
}
,
{
name: 'Mohacas',
level: 25,
coins: '2.70765777661755E+83'
}
,
{
name: 'Mohacas',
level: 50,
coins: '1.94246056491089E+84'
}
,
{
name: 'Mohacas',
level: 100,
coins: '8.0773908458281E+85'
}
,
{
name: 'Mohacas',
level: 200,
coins: '1.13971120576466E+89'
}
,
{
name: 'Mohacas',
level: 400,
coins: '2.18128139213689E+95'
}
,
{
name: 'Mohacas',
level: 800,
coins: '7.98176534323371E+107'
}
,
{
name: 'Mohacas',
level: 1000,
coins: '1.526835242796E+114'
}
,
{
name: 'Mohacas',
level: 1010,
coins: '1.23029294577879E+115'
}
,
{
name: 'Mohacas',
level: 1025,
coins: '4.67529182812348E+115'
}
,
{
name: 'Mohacas',
level: 1050,
coins: '3.59701114063094E+116'
}
,
{
name: 'Mohacas',
level: 1100,
coins: '1.55630610015829E+118'
}
,
{
name: 'Mohacas',
level: 1200,
coins: '2.21019038255023E+121'
}
,
{
name: 'Mohacas',
level: 1400,
coins: '4.23092723859571E+127'
}
,
{
name: 'Mohacas',
level: 1800,
coins: '1.54818015538438E+140'
}
,
{
name: 'Mohacas',
level: 2000,
coins: '2.95260346545423E+146'
}
,
{
name: 'Jaqulin',
level: 10,
coins: '7.76179938411598E+97'
}
,
{
name: 'Jaqulin',
level: 25,
coins: '2.70765777661755E+98'
}
,
{
name: 'Jaqulin',
level: 50,
coins: '1.94246056491089E+99'
}
,
{
name: 'Jaqulin',
level: 100,
coins: '8.0773908458281E+100'
}
,
{
name: 'Jaqulin',
level: 200,
coins: '1.13971120576466E+104'
}
,
{
name: 'Jaqulin',
level: 400,
coins: '2.18128139213689E+110'
}
,
{
name: 'Jaqulin',
level: 800,
coins: '7.98176534323371E+122'
}
,
{
name: 'Jaqulin',
level: 1000,
coins: '1.526835242796E+129'
}
,
{
name: 'Jaqulin',
level: 1010,
coins: '1.23029294577879E+130'
}
,
{
name: 'Jaqulin',
level: 1025,
coins: '4.67529182812348E+130'
}
,
{
name: 'Jaqulin',
level: 1050,
coins: '3.59701114063094E+131'
}
,
{
name: 'Jaqulin',
level: 1100,
coins: '1.55630610015829E+133'
}
,
{
name: 'Jaqulin',
level: 1200,
coins: '2.21019038255023E+136'
}
,
{
name: 'Jaqulin',
level: 1400,
coins: '4.23092723859571E+142'
}
,
{
name: 'Jaqulin',
level: 1800,
coins: '1.54818015538438E+155'
}
,
{
name: 'Jaqulin',
level: 2000,
coins: '2.95260346545423E+161'
}
,
{
name: 'Pixie',
level: 10,
coins: '9.29005276569302E+117'
}
,
{
name: 'Pixie',
level: 25,
coins: '3.24283988537642E+118'
}
,
{
name: 'Pixie',
level: 50,
coins: '2.32601952995699E+119'
}
,
{
name: 'Pixie',
level: 100,
coins: '9.67343617207441E+120'
}
,
{
name: 'Pixie',
level: 200,
coins: '1.36518157123411E+124'
}
,
{
name: 'Pixie',
level: 400,
coins: '2.61206179440595E+130'
}
,
{
name: 'Pixie',
level: 800,
coins: '9.55816486960469E+142'
}
,
{
name: 'Pixie',
level: 1000,
coins: '1.82828130984489E+149'
}
,
{
name: 'Pixie',
level: 1010,
coins: '1.47321890322556E+150'
}
,
{
name: 'Pixie',
level: 1025,
coins: '5.59843819721576E+150'
}
,
{
name: 'Pixie',
level: 1050,
coins: '4.30729818858835E+151'
}
,
{
name: 'Pixie',
level: 1100,
coins: '1.86360191104426E+153'
}
,
{
name: 'Pixie',
level: 1200,
coins: '2.64659788733862E+156'
}
,
{
name: 'Pixie',
level: 1400,
coins: '5.06633332186754E+162'
}
,
{
name: 'Pixie',
level: 1800,
coins: '1.85387174890546E+175'
}
,
{
name: 'Pixie',
level: 2000,
coins: '3.5356016019452E+181'
}
,
{
name: 'Jakalope',
level: 10,
coins: '1.02338112898854E+138'
}
,
{
name: 'Jakalope',
level: 25,
coins: '3.56573859719638E+138'
}
,
{
name: 'Jakalope',
level: 50,
coins: '2.56096405692072E+139'
}
,
{
name: 'Jakalope',
level: 100,
coins: '1.06496962107415E+141'
}
,
{
name: 'Jakalope',
level: 200,
coins: '1.50263566619926E+144'
}
,
{
name: 'Jakalope',
level: 400,
coins: '2.8759759119257E+150'
}
,
{
name: 'Jakalope',
level: 800,
coins: '1.0525458127703E+163'
}
,
{
name: 'Jakalope',
level: 1000,
coins: '2.01288793158453E+169'
}
,
{
name: 'Jakalope',
level: 1010,
coins: '1.62210580940261E+170'
}
,
{
name: 'Jakalope',
level: 1025,
coins: '6.16423780225353E+170'
}
,
{
name: 'Jakalope',
level: 1050,
coins: '4.74261023956271E+171'
}
,
{
name: 'Jakalope',
level: 1100,
coins: '2.0519446573732E+173'
}
,
{
name: 'Jakalope',
level: 1200,
coins: '2.91407320573987E+176'
}
,
{
name: 'Jakalope',
level: 1400,
coins: '5.57835637035415E+182'
}
,
{
name: 'Jakalope',
level: 1800,
coins: '2.04123112778421E+195'
}
,
{
name: 'Jakalope',
level: 2000,
coins: '3.89292304043966E+201'
}
,
{
name: 'Dark Lord',
level: 10,
coins: '1.12717022903086E+158'
}
,
{
name: 'Dark Lord',
level: 25,
coins: '3.93218454183949E+158'
}
,
{
name: 'Dark Lord',
level: 50,
coins: '2.82090432356486E+159'
}
,
{
name: 'Dark Lord',
level: 100,
coins: '1.17297204640051E+161'
}
,
{
name: 'Dark Lord',
level: 200,
coins: '1.6550691395818E+164'
}
,
{
name: 'Dark Lord',
level: 400,
coins: '3.16774941023701E+170'
}
,
{
name: 'Dark Lord',
level: 800,
coins: '1.15914190971802E+183'
}
,
{
name: 'Dark Lord',
level: 1000,
coins: '2.21731946087571E+189'
}
,
{
name: 'Dark Lord',
level: 1010,
coins: '1.78666707412462E+190'
}
,
{
name: 'Dark Lord',
level: 1025,
coins: '6.78959526045316E+190'
}
,
{
name: 'Dark Lord',
level: 1050,
coins: '5.22374461169225E+191'
}
,
{
name: 'Dark Lord',
level: 1100,
coins: '2.26011295594729E+193'
}
,
{
name: 'Dark Lord',
level: 1200,
coins: '3.20970382081492E+196'
}
,
{
name: 'Dark Lord',
level: 1400,
coins: '6.14427658183935E+202'
}
,
{
name: 'Dark Lord',
level: 1800,
coins: '2.24831254654492E+215'
}
,
{
name: 'Dark Lord',
level: 2000,
coins: '4.28785726193354E+221'
}
];

	function sortByKey(array, key) {
		var sp_val = "E+";
		return array.sort(function(a, b) {
			return eval(a.coins) - eval(b.coins);
			//var x = a[key]; var y = b[key];
			//var t = x.split(sp_val); var v = y.split(sp_val);

			//if (t[1] == v[1]) {
			//	return ((x < y) ? -1 : ((x > y) ? 1 : 0));
			//}
			//else {
			//	return ((t[1] < v[1]) ? -1 : ((t[1] > v[1]) ? 1 : 0));
			//}
		});
	}

	function get_output(heroes, pos) {
		return heroes[pos].name + " >> " + heroes[pos].level + "<br />" + "[" + (pos - 1) + "]";
	}

	function next_upgrade() {
		pos = pos + 1;

		if (pos > heroes.length - 1) {
			pos = heroes.length - 1;
		}

		$("#output").html(get_output(heroes, pos));
	}

	function previous_upgrade() {
		pos = pos - 1;

		if (pos < 0) {
			pos = 0;
		}

		$("#output").html(get_output(heroes, pos));
	}

	heroes = sortByKey(heroes, 'coins');

	$("#middle_banner").click(function() {
		next_upgrade();
	});

	$(window).keydown(function(evt) {
		if (evt.which == 37) {
			previous_upgrade();
		} else if (evt.which == 39) {
			next_upgrade();
		}
	});

	next_upgrade();
});
</script>
<style>
#main_content {
	margin: 0 auto;
}

#top_banner {
	height: 100px;
	background-color: #53B3CB;
	color: white;
	border-radius: 20px 20px 0px 0px;
}

#bottom_banner {
	height: 50px;
	background-color: #53B3CB;
	color: white;
	border-radius: 0px 0px 20px 20px;
}

#middle_banner {
	<!--height: 200px;-->
	color: #53B3CB;
	border-width: 5px;
	border-color: #53B3CB;
	border-style: solid;
}

h1 {
	margin-left: 50px;
	font-size: 300%;
	line-height: 100px;
}

span {
	height: 50px;
	margin-left: 50px;
	line-height: 50px;
	font-size: 150%;
}

#output {
	margin-left: 0px;
	font-size: 300%;
	line-height: 75px;
	text-align: center;
}
</style>
</head>
<body>
	<div class="content-top">
		<div class="container">
			<div class="logo">
				<h1 class="wow fadeInDown animated" data-wow-delay=".5s">Tap Titans Helper</h1>
			</div>
			<!-- //header -->
			<div class="content-grids">
				<!-- content-top-grids -->
				<div class="content-top-grids">
					<div class="col-md-4 content-left">
						<div class="circle-grid wow fadeInLeft animated" data-wow-delay=".5s">
							<div class="main-row main-top">
								<div id="main_content">
                                    <div id="top_banner">
                                        <h1>Tap Titans</h1>
                                    </div>
                                    <div id="middle_banner">
                                        <h1 id="output">Oh oh....</h1>
                                    </div>
                                    <div id="bottom_banner">
                                        <span>by Durdle Labs</span>
                                    </div>
                                </div>
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<!-- //content-top-grids -->
				<!-- copyright -->
				<div class="copyright wow fadeInRight animated" data-wow-delay=".5s">
					<p>© 2016 Durdle Labs</a></p>
				</div>
				<!-- //copyright -->
			</div>
		</div>
	</div>
	<!-- skills-bar -->
</body>	
</html>