<!DOCTYPE html>
<html>
<head>
{% if title %}
<title>{{ title }}</title>
{% else %}
<title>Untitled :(</title>
{% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all" />
<link rel="stylesheet" href="/static/css/tap-titans.css" type="text/css" media="all" />
<script src="/static/js/jquery-1.11.3.min.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script>
$(document).ready(function() {
	// last one saved: 326
	// last checked skill: 326
	// until hero tap damage: 416mm
	var pos = 326;
	var heroes = [];
	{% if upgrades %}
	    var i = 0
        {% for u in upgrades %}
        heroes[i] = { name: '{{ u.name }}', level: {{ u.level }}, coins: {{ u.coins }} };
        i++;
        {% endfor %}
    {% endif %}

	function sortByKey(array, key) {
		var sp_val = "E+";
		return array.sort(function(a, b) {
			return eval(a.coins) - eval(b.coins);
			//var x = a[key]; var y = b[key];
			//var t = x.split(sp_val); var v = y.split(sp_val);

			//if (t[1] == v[1]) {
			//	return ((x < y) ? -1 : ((x > y) ? 1 : 0));
			//}
			//else {
			//	return ((t[1] < v[1]) ? -1 : ((t[1] > v[1]) ? 1 : 0));
			//}
		});
	}

	function get_output(heroes, pos) {
		return heroes[pos].name + " >> " + heroes[pos].level + "<br />" + "[" + (pos - 1) + "]";
	}

	function next_upgrade() {
		pos = pos + 1;

		if (pos > heroes.length - 1) {
			pos = heroes.length - 1;
		}

		$("#output").html(get_output(heroes, pos));
	}

	function previous_upgrade() {
		pos = pos - 1;

		if (pos < 0) {
			pos = 0;
		}

		$("#output").html(get_output(heroes, pos));
	}

	heroes = sortByKey(heroes, 'coins');

	$("#middle_banner").click(function() {
		next_upgrade();
	});

	$(window).keydown(function(evt) {
		if (evt.which == 37) {
			previous_upgrade();
		} else if (evt.which == 39) {
			next_upgrade();
		}
	});

	next_upgrade();
});
</script>
</head>
<body>
	<div id="main_content" class="span4">
		<div id="top_banner">
			<h1>Tap Titans</h1>
		</div>
		<div id="middle_banner">
			<h1 id="output">Oh oh....</h1>
		</div>
		<div id="bottom_banner">
			<span>© 2016 Durdle Labs</span>
		</div>
	</div>
</body>	
</html>